.bg-fade-left {
  background: linear-gradient(
    90deg,
    var(--fader-start) 20%,
    var(--fader-end) 100%
  );
}

.bg-fade-right {
  background: linear-gradient(
    270deg,
    var(--fader-start) 20%,
    var(--fader-end) 100%
  );
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-25%);
  }
}

.animate-slide {
  animation: slide 20s linear infinite;
  animation-timing-function: ease-in-out;
}
